<% layout('layouts/boilerplate')%>
<div class="black my-3" id="cluster-map" ></div>
<div class="container shadow-light bg pt-3">
    <h1 class="text-center">All Campgrounds</h1>
    <div class="mx-2 mb-3 row">
        <a class="btn btn-outline-success col-md-2" href="/campgrounds/new">Add campground</a>
        <form class="col-md-6 ml-auto">
            <div class="input-group">
                <input id="search" type="text" class="form-control bg border white" placeholder="Search" aria-label="Search"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </form>
        <div id="filter" class="btn-group col-md-2">
            <a href="#filter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Filter
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </div>
    <% for(let campground of campgrounds) { %>
        <% if (campground == campgrounds[100]) { %>
            <% break;  %>
        <% } %>   
        <div class="shadow-light mb-3 bg rounded">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) { %> 
                        <img class="img-fluid rounded" src="<%= campground.images[0].url %>" alt="">
                    <% } else { %> 
                        <img class="img-fluid" src="https://res.cloudinary.com/cateyken/image/upload/v1618999000/campinguru/campfire_wbrg1s.jpg" alt="">
                    <% } %> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <h6 class="text-muted"><%= campground.location %></h6>
                        <p class="card-text"><%= campground.description %></p>
                        <a class="btn btn-outline-primary" href="/campgrounds/<%=campground._id%>">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 
</div>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
