<link rel="stylesheet" href="/stylesheets/stars.css" />
<% layout('layouts/boilerplate')%>
<div class="container shadow-light bg pt-3">
	<h1 class="text-center mb-3"><a href="/campgrounds" class="nav-link white">All Campgrounds</a></h1>
	<form id="fullSearchForm" class="mx-2 mb-3" action="">
		<div class="row">
			<div class="input-group col-md h-50 mt-auto">
				<div class="input-group-prepend">
					<select class="form-select" name="s">
						<option value="all" <% if(query.s === "all") {%>selected<%}%> >All</option>
						<option value="title" <% if(query.s === "title") {%>selected<%}%>>Title</option>
						<option value="description" <% if(query.s === "description") {%>selected<%}%>>Description</option>
					</select>
				</div>
				<input
					id="search"
					type="text"
					name="q"
					class="form-control bg border white"
					placeholder="Search"
					aria-label="Search"
					aria-describedby="button-addon2"
					value="<%= query.q %>"
				/>
				<div class="input-group-apend">
					
				</div>
			</div>
		</div>
		<button id="filterToggler" class="btn btn-outline-info btn-sm my-2" type="button">
			Add more filters
		</button>
		<br>
		<div class="row my-3 none" id="searchCollapse">
			<div class="col-md col-md-8">
				<label class="form-label" for="location">Location:</label>
				<div class="row px-2">
					<select id="country" class="form-select col" name="country" disabled>
						<option value="">-Country-</option>
						<option id="currentCountry"><%= geoCountry %> </option>
						<% for (let country of countries)  { %> 
						<option ><%= country %> </option>
						<% } %> 


					</select>
					<% for (let country of countries)  { %> 
						<select id="<%= country %>" class="cityClass form-select col none" name="city" disabled>
							<option value="">-City-</option>
							<% for (let city of citiesObj[country])  { %> 
								<option><%= city %></option>
							<% } %> 
						</select>
					<% } %> 

				</div>
			</div>
			<div class="px-3 col-md-4"> 
				<label for="priceRange" class="form-label">Price:</label>
				<div class="row mt-2">
					<span class="col-3 text-end">Min.</span>
					<input id="priceMin" name="priceMin" class="form-control priceInput col p-0 px-1" type="number" value="" disabled>
					<span class="col-1">-</span>
					<input id="priceMax" name="priceMax" class="form-control priceInput col p-0 px-1" type="number" value="" disabled>
					<span class="col-3 text-start">Max.</span>
				</div>
			</div>
		</div>
		<button class="btn btn-outline-light" type="submit" id="submitSearch">
			Search
		</button>
	</form>
	<hr id="listStart">
	<% if(showNearCheck) {%> 
		<div id="nearPlaces" class="my-3">
			<h3><a href='?country=<%= geoCountry%>' class="nav-link white">Places near to you</a></h3>
			<div id="nearPlacesCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
				<% for(let i = 0; i < nearCamps.length; i++) {%> 
					<div class="carousel-item px-5 <%= i == 0 ? "active" : "" %> ">
						<div class="row">
							<a href="/campgrounds/<%=nearCamps[i]._id%>" class="col-md-6 row">
								<img src="<%= nearCamps[i].images[0].url %> " class="col-3 nearImages cover" alt="">
								<div class="col">
									<h5><%= nearCamps[i].title %></h5>
									<p><%= nearCamps[i].location %></p>
									<p>$ <%= nearCamps[i].price %></p>
								</div>
								
							</a>
							<% i++ %> 
							<a href="/campgrounds/<%=nearCamps[i]._id%>" class="col-md-6 row">
								<img src="<%= nearCamps[i].images[0].url %> " class="col-3 nearImages cover" alt="">
								<div class="col">
									<h5><%= nearCamps[i].title %></h5>
									<p><%= nearCamps[i].location %></p>
									<p>$ <%= nearCamps[i].price %></p>
								</div>
							</a>
						</div>
					</div>
				<% } %> 
				
				</div>
				<button class="arrows mt-5 carousel-control-prev" type="button" data-bs-target="#nearPlacesCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="arrows mt-5 carousel-control-next" type="button" data-bs-target="#nearPlacesCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			
			<a href='?country=<%= geoCountry%>' id="showNearMe" class="btn btn-outline-info">Show more</a>
		</div>
	<% } %> 
	<hr>

	<%- include('../partials/pagination') %> 
	<div id="sortDiv" class="mb-1">
		Sort by: <a id="sortTitle" href="?<%= currentReq %>sortTitle=desc" class="white">Title</a> | <a id="sortPrice" href="?<%= currentReq %>sortPrice=desc" class="white">Price</a> | <a id="sortRating" href="?<%= currentReq %>sortRating=desc" class="white">Rating</a>
	</div>
	<% for(let campground of campgrounds) { %>

	<div class="shadow-light mb-3 bg rounded">
		<div class="row">
			<div class="col-md-4">
				<a class="cover" href="/campgrounds/<%=campground._id%>">
					<% if (campground.images.length) { %>
					<img
						id="camp-image"
						class="rounded cover"
						src="<%= campground.images[0].url %>"
						alt=""
					/>
					<% } else { %>
					<img
						id="camp-image"
						class="rounded cover"
						src="https://res.cloudinary.com/cateyken/image/upload/v1618999000/campinguru/campfire_wbrg1s.jpg"
						alt=""
					/>
					<% } %>
				</a>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">
						<a href="/campgrounds/<%=campground._id%>"><%= campground.title %></a>
					</h5>
					<p class="starability-result" data-rating="<%= campground.rating%>">
						Rated: <%= campground.rating %> stars
					</p>
					<h6 class="text-muted"><%= campground.location %></h6>
					<p class="card-text"><%= campground.description %></p>
					<a class="btn btn-outline-primary" href="/campgrounds/<%=campground._id%>"
						>View <%= campground.title %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<% } %> 
	<%- include('../partials/pagination') %>
</div>
<script src="/javascripts/campsFilter.js"></script>
