<link rel="stylesheet" href="/stylesheets/stars.css" />
<% layout('layouts/boilerplate')%>
<div class="container shadow-light bg pt-3">
	<h1 class="text-center mb-3">All Campgrounds</h1>
	<div class="mx-2 mb-3 row">
		<form class="col mb-3" action="?s">
			<div class="input-group">
				<div class="input-group-prepend">
					<select class="form-control" name="s" id="">
						<option value="all" <% if(query.s === "all") {%>selected<%}%> >All</option>
						<option value="title" <% if(query.s === "title") {%>selected<%}%>>Title</option>
						<option value="location" <% if(query.s === "location") {%>selected<%}%>>Location</option>
						<option value="description" <% if(query.s === "description") {%>selected<%}%>>Description</option>
					</select>
					
						
				</div>
				<input
					id="search"
					type="text"
					name="q"
					class="form-control bg border white"
					placeholder="Search"
					aria-label="Search"
					aria-describedby="button-addon2"
					value="<%= query.q %>"
				/>
				<div class="input-group-append">
					<button class="btn btn-outline-light" type="submit" id="button-addon2">
						Search
					</button>
				</div>
			</div>
		</form>
		<div id="filter" class="btn-group col-md-4 mb-3">
			<a
				href="#filter"
				type="button"
				class="btn btn-secondary dropdown-toggle"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				Filter
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<button class="dropdown-item" type="button">Action</button>
				<button class="dropdown-item" type="button">Another action</button>
				<button class="dropdown-item" type="button">Something else here</button>
			</div>
		</div>
	</div>
	<%- include('../partials/pagination') %> 
	<% for(let campground of campgrounds) { %>

	<div class="shadow-light mb-3 bg rounded">
		<div class="row">
			<div class="col-md-4">
				<a class="cover" href="/campgrounds/<%=campground._id%>">
					<% if (campground.images.length) { %>
					<img
						id="camp-image"
						class="rounded cover"
						src="<%= campground.images[0].url %>"
						alt=""
					/>
					<% } else { %>
					<img
						id="camp-image"
						class="rounded cover"
						src="https://res.cloudinary.com/cateyken/image/upload/v1618999000/campinguru/campfire_wbrg1s.jpg"
						alt=""
					/>
					<% } %>
				</a>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">
						<a href="/campgrounds/<%=campground._id%>"><%= campground.title %></a>
					</h5>
					<p class="starability-result" data-rating="<%= campground.rating%>">
						Rated: <%= campground.rating %> stars
					</p>
					<h6 class="text-muted"><%= campground.location %></h6>
					<p class="card-text"><%= campground.description %></p>
					<a class="btn btn-outline-primary" href="/campgrounds/<%=campground._id%>"
						>View <%= campground.title %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<% } %> 
	<%- include('../partials/pagination') %>
</div>
