<link rel="stylesheet" href="/stylesheets/stars.css" />
<% layout('layouts/boilerplate') %>
<div class="container shadow-light bg white">
	<h2 class="text-center mt-3 mb-5">My profile</h2>
	<div class="row">
		<div class="col-md-6 mb-5">
			<form id="profileForm" class="validated-form mb-5" novalidate>
				<button id="toggler" class="btn btn-outline-info mb-3">Edit Profile</button>
				<div class="row bg">
					<hr />
					<div class="col-md-6">
						<label class="form-label" for="usernameInput">E-mail:</label>
						<br />
						<div
							id="usernameText"
							class="username ml-2 py-2"
							data-text="<%= currentUser.username%>"
						>
							<%=currentUser.username %>
						</div>

						<!-- <input
							id="usernameInput"
							name="username"
							class="username none form-control shadow-light"
							type="text"
							value="<%=currentUser.username%>"
						/> -->
						<hr class="mb-3" />
					</div>
					<div class="col-md-6">
						<label class="form-label" for="nicknameInput">Username:</label>
						<br />
						<div id="nicknameText" class="nickname ml-2 py-2">
							<%=currentUser.nickname %>
						</div>

						<input
							id="nicknameInput"
							name="nickname"
							class="nickname none form-control shadow-light"
							type="text"
							value="<%= currentUser.nickname %>"
						/>
						<hr class="mb-3" />
					</div>

					<div class="col-md-6">
						<label class="form-label" for="nameInput">Company/Name:</label>
						<br />
						<div id="nameText" class="name ml-2 py-2"><%= currentUser.name %></div>
						<input
							id="nameInput"
							name="name"
							class="name none form-control shadow-light"
							type="text"
							value="<%= currentUser.name %>"
						/>
						<hr />
					</div>

					<div id="telDiv" class="col-md-6 <%if(!currentUser.tel){%>none<%}%>">
						<label class="form-label" for="telInput">Telephone number:</label>
						<br />
						<div
							id="telText"
							class="tel ml-2 py-2"
							data-text="<%= currentUser.tel %>"
						>
							<%= currentUser.tel %>
						</div>
						<input
							id="telInput"
							name="tel"
							class="tel none form-control shadow-light"
							type="text"
							value="<%= currentUser.tel %>"
						/>
						<hr />
					</div>

					<div
						id="addressDiv"
						class="col-md-6 <%if(!currentUser.address){%>none<%}%>"
					>
						<label class="form-label" for="addressInput">Company address:</label>
						<br />
						<div
							id="addressText"
							class="address ml-2 py-2"
							data-text="<%= currentUser.address %>"
						>
							<%=currentUser.address%>
						</div>
						<input
							id="addressInput"
							name="address"
							class="address none form-control shadow-light"
							type="text"
							value="<%=currentUser.address%>"
						/>
						<hr />
					</div>

					<div
						id="smthDiv"
						class="col-md-6 <%if(!currentUser.something){%>none<%}%>"
					>
						<label class="form-label" for="somethingInput">Something:</label>
						<br />
						<div
							id="somethingText"
							class="something ml-2 py-2"
							data-text="<%= currentUser.something %>"
						>
							<%= currentUser.something %>
						</div>
						<input
							id="somethingInput"
							name="something"
							class="something none form-control shadow-light"
							type="text"
							value="<%=currentUser.something%>"
						/>
						<hr />
					</div>
				</div>
				<select
					name="addSelect"
					id="addSelect"
					class="form-select form-select-sm none w-50 mb-3"
				>
					<option id="selected" selected>---Choose field to add---</option>
					<option id="telOpt" value="tel">Telephone number</option>
					<option id="addressOpt" value="address">Company address</option>
					<option id="smthOpt" value="smth">Something</option>
				</select>
				<button
					id="addBox"
					type="button"
					class="btn btn-outline-light col-md-6 mb-3 none"
				>
					+
				</button>
				<button
					id="submitProfile"
					type="submit"
					class="btn btn-outline-success btn-block none"
				>
					Submit
				</button>
			</form>
			<% if(currentUser && currentUser.accType == "Guest") {%>
			<h5>
				My reviews:
				<a
					class="white"
					href="#collapseReviews"
					data-toggle="collapse"
					data-target="#collapseReviews"
					aria-expanded="false"
					aria-controls="collapseReviews"
				>
					<%=reviewCount %>
				</a>
			</h5>
			<% } %> <% if(currentUser && currentUser.accType == "Owner") {%>
			<h5>
				My campgrounds:
				<a
					class="white"
					href="#collapseCampgrounds"
					data-toggle="collapse"
					data-target="#collapseCampgrounds"
					aria-expanded="false"
					aria-controls="collapseCampgrounds"
				>
					<%=campgroundCount %>
				</a>
			</h5>
			<a class="btn btn-outline-success col-4" href="/campgrounds/new"
				>Add campground</a
			>
			<% } %>
		</div>
		<div class="col-md-6 mb-5">
			<h4>
				<a
					class="mb-3 dropdown-toggle white"
					data-toggle="collapse"
					data-target="#collapseChangePass"
					aria-expanded="false"
					aria-controls="collapseChangePass"
					>Change password</a
				>
			</h4>
			<div class="collapse" id="collapseChangePass">
				<form
					id="passForm"
					action="/passChange"
					method="POST"
					class="mb-5"
					novalidate
				>
					<input id="passChange" class="form-control" hidden />
					<div class="valid-feedback">Password changed</div>
					<div id="passInvalid" class="invalid-feedback"></div>
					<div class="mb-3 col-md-6">
						<label class="form-label" for="password"> Password:</label>
						<div class="input-group mb-3">
							<input
								class="form-control shadow-light"
								type="password"
								name="password"
								id="password"
								inputmode="verbatim"
								autocomplete="off"
								placeholder="Current password"
								required
							/>
							<div class="input-group-append">
								<div
									id="passwordShow"
									class="input-group-text shadow-light showPass"
								></div>
							</div>
							<div id="invalidPassword" class="invalid-feedback"></div>
						</div>
					</div>
					<div class="mb-3 col-md-6">
						<label class="form-label" for="newPassword"> New password:</label>
						<div class="input-group mb-3">
							<input
								class="form-control shadow-light"
								type="password"
								name="newPassword"
								id="newPassword"
								inputmode="verbatim"
								minlength="8"
								autocomplete="new-password"
								placeholder="New password(at least 8 characters)"
								required
							/>
							<div class="input-group-append">
								<div id="newShow" class="input-group-text shadow-light showPass"></div>
							</div>
							<div id="invalidNewPassword" class="invalid-feedback"></div>
						</div>
					</div>
					<div class="mb-3 col-md-6">
						<label class="form-label" for="confirmPassword">
							Confirm new password:</label
						>
						<div class="input-group mb-3">
							<input
								class="form-control shadow-light"
								type="password"
								name="confirmPassword"
								id="confirmPassword"
								inputmode="verbatim"
								minlength="8"
								autocomplete="new-password"
								placeholder="Confirm new password"
								required
							/>
							<div class="input-group-append">
								<div
									id="confirmShow"
									class="input-group-text shadow-light showPass"
								></div>
							</div>
							<div id="invalidConfirmPassword" class="invalid-feedback"></div>
						</div>
					</div>
					<button class="brn btn-outline-info bg p-2 rounded mb-3 col-12 col-md-6">
						Change password
					</button>
				</form>
			</div>
		</div>
	</div>
	<% if(currentUser && currentUser.accType == "Guest") {%> <% if(reviewCount >=
	1) {%>
	<div class="bg border mb-5">
		<button
			type="button"
			class="btn btn-outline-light w-100 dropdown-toggle"
			data-toggle="collapse"
			data-target="#collapseReviews"
			aria-expanded="false"
			aria-controls="collapseReviews"
		>
			<h3>My reviews:</h3>
		</button>
		<div class="collapse row px-3" id="collapseReviews">
			<% for(let campground of campgrounds) {%> <% if(campground.reviews.length){%>
			<% for(let review of campground.reviews) {%> <%
			if(review.author._id.toString() == currentUser._id.toString()) { %>
			<div class="col-12 col-lg-6 border">
				<h4>
					Campground:
					<a class="white" href="/campgrounds/<%=campground._id %>">
						<%=campground.title %>
					</a>
				</h4>
				<h4>Review:</h4>
				<p class="starability-result" data-rating="<%=review.rating%>">
					Rated: <%=review.rating %> stars
				</p>
				<a class="white" href="/campgrounds/<%=campground._id %>#<%=review._id %>">
					<p><%=review.body %></p>
				</a>
			</div>
			<% } %> <% } %> <% } %> <% } %>
		</div>
	</div>
	<% }} %> <% if(currentUser && currentUser.accType == "Owner") {%> <%
	if(campgroundCount >= 1) {%>
	<div class="bg border mb-5">
		<button
			type="button"
			class="btn btn-outline-light w-100 dropdown-toggle"
			data-toggle="collapse"
			data-target="#collapseCampgrounds"
			aria-expanded="false"
			aria-controls="collapseCampgrounds"
		>
			<h3>My campgrounds:</h3>
		</button>
		<div class="collapse row px-3" id="collapseCampgrounds">
			<% for(let campground of campgrounds) {%>
			<a
				class="border col-6 col-sm-4 col-md-3"
				href="/campgrounds/<%=campground._id%> "
			>
				<h5><%=campground.title %></h5>
				<h6><%=campground.location %></h6>
			</a>
			<% } %>
		</div>
	</div>
	<% }} %>
</div>

<script src="/javascripts/profileChange.js"></script>
<script src="/javascripts/passChange.js"></script>
