<% layout('layouts/boilerplate') %>
<div class="container shadow-light bg white">
	<h2 class="text-center mt-3 mb-5">My profile</h2>
    <div class="row">
        <div class="col-md-6">
            <h5>Username: <%= currentUser.username %></h5>
			<h5>E-mail: <%= currentUser.email %></h5>
			<h5 >My reviews: 
				<a class="white" href="#collapseReviews" data-toggle="collapse" data-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
					<%= reviewCount %>
				</a> 
			</h5>
			<h5>My campgrounds: 
				<a class="white" href="#collapseCampgrounds" data-toggle="collapse" data-target="#collapseCampgrounds" aria-expanded="false" aria-controls="collapseCampgrounds">
					<%= campgroundCount %> 
				</a> 
			</h5>

		</div>
		<div class="col-md-6">
			<h3 class="mb-3">Change password</h4>
			<form action="/profile" method="post">
				<div class="mb-3 col-6">
					<label class="form-label" for="password"> Password:</label>
					<input
						class="form-control shadow-light"
						type="password"
						name="password"
						id="password"
						inputmode="verbatim"
						minlength="8"
						aria-required="true"
						autocomplete="current-password"
					/>
				</div>
				<div class="mb-3 col-6">
					<label class="form-label" for="newPassword"> New password:</label>
					<input
						class="form-control shadow-light"
						type="password"
						name="newPassword"
						id="newPassword"
						inputmode="verbatim"
						minlength="8"
						aria-required="true"
						autocomplete="new-password"
					/>
				</div>
				<div class="mb-3 col-6">
					<label class="form-label" for="confirmPassword">
						Confirm new password:</label
					>
					<input
						class="form-control shadow-light"
						type="password"
						name="confirmPassword"
						id="confirmPassword"
						inputmode="verbatim"
						minlength="8"
						aria-required="true"
						autocomplete="new-password"
					/>
				</div>
				<button class="brn btn-outline-info bg p-2 rounded mb-3" type="submit">
					Change
				</button>
			</form>
		</div>
	</div>
	<div class="bg border mb-5">
		<button type="button" class="btn btn-outline-light w-100 dropdown-toggle" data-toggle="collapse" data-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
			<h3>My reviews:</h3>
		</button>
		<div class="collapse row px-3" id="collapseReviews">
			<% for(let campground of campgrounds) {%>
				<% if(campground.reviews.length) {%> 
					<% for(let review of campground.reviews) {%> 
						<% if(review.author._id.toString() == currentUser._id.toString()) { %> 
							<div class="col-12 col-lg-6 border">
								<h4>Campground:
									<a class="" href="/campgrounds/<%= campground._id %>">
										<%= campground.title %>
									</a>
								</h4>
								<h4>Review: </h4> 
								<p class="starability-result" data-rating="<%=review.rating%>">
										Rated: <%= review.rating %> stars
								</p> 
								<a class="" href="/campgrounds/<%= campground._id %>#<%= review._id %>">
									<p><%= review.body %> </p>
								</a> 
							</div>
						<% } %> 
					<% } %> 
				<% } %> 
			<% } %> 
		</div>
	</div>
    <div class="bg border mb-5">
        <button type="button" class="btn btn-outline-light w-100 dropdown-toggle" data-toggle="collapse" data-target="#collapseCampgrounds" aria-expanded="false" aria-controls="collapseCampgrounds">
            <h3>My campgrounds:</h3>
        </button>
        <div class="collapse row px-3" id="collapseCampgrounds">
            <% for(let campground of campgrounds) {%> 
				<a class="border col-6 col-sm-4 col-md-3" href="/campgrounds/<%=campground._id%> ">
					<h5><%= campground.title %> </h5>
					<h6><%= campground.location %> </h6>
				</a>
            <% } %> 
        </div>
    </div>
    
</div>




